*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #0A090A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top__header-top {
    padding-top: 45px;
}
.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}
.search {
    display: flex;
    align-items: center;
    flex: .8;
}
.input {
    background-color: rgba(196, 196, 196, .5);
    border: none;
    outline: none;
    padding: 12px 18px;
    font-size: 14px;
    line-height: 16px;
    color: #AEAEAE;
}
.search__input {
    flex: 1;
    border-radius: 5px;
}
::-webkit-input-placeholder {
    color: #AEAEAE;
}
:-ms-input-placeholder {
    color: #AEAEAE;
}
::-moz-placeholder {
    color: #AEAEAE;
    opacity: 1;
}
:-moz-placeholder {
    color: #AEAEAE;
    opacity: 1;
}
.search__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 18px;
}
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user__avatar {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.main__title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-top: 30%;
    margin-bottom: 7px;
}
.main__title-en {
    display: inline-block;
    margin-bottom: 38px;
    font-size: 20px;
    line-height: 23px;
    color: #787878;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info__info {
    margin-bottom: 108px;
}
.info__movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info__tag {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.info__country,
.info__play,
.info__more {
    display: inline-block;
    margin-right: 33px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}
.info__play {
    display: flex;
    align-items: center;
}
.info__play::before {
    content: '';
    background: url('../img/play.svg') no-repeat;
    border-radius: 50%;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}
.info__more {
    display: flex;
    align-items: center;
}
.info__more::after {
    content: '';
    background: url('../img/play.svg') no-repeat;
    border-radius: 50%;
    transform: rotate(90deg);
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
.wrapper {
    display: flex;
    background-color: #fff;
    border-radius: 3px;
    padding: 43px 50px 82px;
    color: #000000;
}
.left-block {
    width: 100%;
    max-width: 184px;
}
.left-block__poster {
    margin-top: -77px;
    margin-bottom: 20px;
}
.button {
    cursor: pointer;
    background-color: #FF8F27;
    color: #fff;
    border: none;
    outline: none;
}
.left-block__btn {
    margin-bottom: 30px;
    padding: 10px 0;
    width: 100%;
}
.title {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
}
.actors__title,
.actors__subtitle {
    display: block;
    margin: 0 15px;
    color: #000;
}
.actors__title {
    margin-bottom: 10px;
}
.content__block {
    width: 100%;
    max-width: 830px;
    margin-left: 27px;
}
.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabs__tabs {
    margin-left: 18px;
}
.tabs__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
.tabs__link:hover {
    color: #FF8F27;
}
.tabs__link--active {
    color: #FF8F27;
}
.content__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}
.content-block__item {
    margin-right: 96px;
}
.content-block__text,
.content-block__title {
    font-size: 16px;
    line-height: 140%;
}
.content-block__title {
    margin-top: 32px;
    margin-bottom: 22px;
}
.right-block__form {
    position: relative;
    margin-top: 14px;
    margin-bottom: 48px;
}
.right-block__input {
    background-color: rgba(241, 241, 241, .5);
    color: #9B9B9B;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    min-height: 40px;
    padding: 12px 15px;
}
.right-block__btn {
    cursor: pointer;
    position: absolute;
    border-radius: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
}